.containerForm {
  width: 20rem;
  height: 7rem;
  background-color: rgb(177, 180, 235);
  /* margin: 0 auto; */
}
body {
  background-color: rgb(52, 52, 53);
}
.firstInput {
  width: 15rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
}
.label {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}
.secondInput {
  width: 15rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
}
.thirdInput {
  width: 15rem;
  height: 1.5rem;
  margin-left: 2.7rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
  display: block;
}
